@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@600;700&display=swap');

/* body{
  background: #E5E5E5;
} */


/* Outer Container*/
/* .frame4{ */
  /* display: flex; */
/* flex-direction: column; */
/* align-items: flex-start; */
/* padding: 0px; */
/* gap: 16px; */

/* position: absolute; */
/* width: 327px; */
/* height: 746px; */
/* left: 24px; */
/* top: 49px; */
/* } */


/* Top Schedule Containers */
.schedule{
  width: 327px;
  height: 72px;
  
  /* position: absolute; */
  /* left: 0%; */
  /* right: 0%; */
  /* top: 0%; */
  /* bottom: 0%; */
  /* mix-blend-mode: normal; */
  /* opacity: 0.2; */
  border: 1.5px solid #BFBFBF;
  border-radius: 16px;

  /* flex: none; */
  /* order: 0; */
  /* flex-grow: 0; */
}

/* .schedItem{ */
  /* position: absolute; */
  /* width: 327px; */
  /* height: 72px; */
  /* left: 0px; */
  /* top: 88px; */
/* } */

.leftContent{
    /* position: absolute; */
    /* width: 135px; */
    /* height: 50px; */
    /* left: 16px; */
    /* top: 11px; */
}

.leftContent .title{
  /* position: absolute; */
/* height: 24px; */
/* left: 16px; */
/* right: 176px; */
/* top: calc(50% - 24px/2 - 13px); */
margin:0;

font-family: 'DM Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Colors/Black/100% */

color: #040415;

}

.leftContent .date{
  position: absolute;
  height: 24px;
  left: 16px;
  right: 176px;
  top: calc(50% - 24px/2 + 13px);
  margin:0;

  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */


  color: #7F7F7F;
}

.rightContent{
  position: absolute;
  width: 80px;
  right: 24px;
  top: 11px;
  bottom: 11px;
  
}

.rightContent .duration {
    width: 80px;
    height: 24px;
    right: 24px;
    top: calc(50% - 24px/2 - 13px);
    margin:0;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: right;

    /* Colors/Black/100% */

    color: #040415;
}

.rightContent .taken{
    width: 80px;
  height: 24px;
  right: 24px;
  top: calc(50% - 24px/2 + 13px);
  margin:0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: right;

  /* Colors/Black/100% */

  color: #040415;
}