@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@600;700&display=swap');

/* body{
  background: #E5E5E5;
} */

.App{
margin:40px;
}

.routines{
  mix-blend-mode: normal;
  border: 1.5px solid #BFBFBF;
  border-radius: 16px;
  /* updated opacty to border-shador because entire element was impact*/
  box-shadow: 0px 0px 0px px rgb(242,242,242);   

  width: 327px;
  height: 72px;
  margin:16px;
}

.top {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1rem;
  grid-auto-flow: row;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.top .durationRoutine {
  justify-content: center;
  display: block;
  margin: 11px 0px 0px 50px;
}

.top .titleRoutine{
  margin: 11px 0px 0px 16px;
}

.bottom{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1rem;
  grid-auto-flow: row;
}

.bottom .dateRoutine {
  margin: 0px 0px 11px 16px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7F7F7F;
}

.completed{
  margin: 0px 0px 11px 50px;
}